@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@section css{

}
<div style="position:relative;">
    <div class="jumbotron">
        <h1 style="margin-left:37%;">欢迎使用!</h1>
        <p><br/></p>
        <p><a href="/BG/SetVolumeOnline" style="margin-left:42%;" class="btn btn-success btn-lg" role="button">开始组卷</a></p>
    </div>
</div>
